<a href="https://colab.research.google.com/github/DifKiG/Python_Pandas_tratamiento_analisis-_de_datos/blob/main/Series_e_Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Eliminando valores repetidos

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('alquiler.csv', sep = ';')

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
datos['Tipo']

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [ ]:
datos.Tipo

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [ ]:
tipo_de_inmueble = datos.Tipo

In [ ]:
type(tipo_de_inmueble)

pandas.core.series.Series

In [ ]:
#el metodo .drop_duplicates elimina los valores duplicados de la variable que le este indicando, 
#pero si vuelvo a llamar a la varible esta me aparece con el valor original
tipo_de_inmueble.drop_duplicates()

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

In [ ]:
#para que aparezca con los valores duplicados eliminados se debe invertir el parametro del metodo
tipo_de_inmueble

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [ ]:
#De este modo queda almacenado en la variable el drop_duplicates permanentemente
tipo_de_inmueble.drop_duplicates(inplace=True)

In [ ]:
tipo_de_inmueble

0                        Habitación
1                              Casa
2                   Local comercial
3                      Departamento
7                Casa en condominio
16                Edificio completo
17                             Flat
29                     Tienda/Salón
80                          Almacén
83                   Casa comercial
117                   Casa de villa
159                         Terreno
207                         Cochera
347                            Loft
589      Tienda en Centro Comercial
2157                         Chacra
3354          Terreno em condominio
4379                        Oficina
4721                         Chalet
6983                         Studio
9687                          Hotel
23614              Local industrial
Name: Tipo, dtype: object

#Organizando la Visualización.
##Refiniendo el index

In [ ]:
tipo_de_inmueble.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [ ]:
type(tipo_de_inmueble)

pandas.core.series.Series

In [ ]:
tipo_de_inmueble = pd.DataFrame(tipo_de_inmueble)

In [ ]:
type(tipo_de_inmueble)

pandas.core.frame.DataFrame

In [ ]:
tipo_de_inmueble.shape

(22, 1)

In [ ]:
#la funcion range realiza una secuencia de numeros,
# el primer valor es el valor inicial con el que empezara el indice
range(tipo_de_inmueble.shape[0])

range(0, 22)

In [ ]:
# se realiza la iteración para que genere el orden de los indices
for i in range(tipo_de_inmueble.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
# Se le atribuye el valor de la variable
tipo_de_inmueble.index = range(tipo_de_inmueble.shape[0])

In [ ]:
# muestra que inicia en 0 y para en 22
tipo_de_inmueble.index

RangeIndex(start=0, stop=22, step=1)

In [ ]:
tipo_de_inmueble

                          Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

In [ ]:
# para darle nombre a  la columna de los indices se llaman a los atributos .columns.name
tipo_de_inmueble.columns.name = 'Id'

In [ ]:
tipo_de_inmueble

Id                        Tipo
0                   Habitación
1                         Casa
2              Local comercial
3                 Departamento
4           Casa en condominio
5            Edificio completo
6                         Flat
7                 Tienda/Salón
8                      Almacén
9               Casa comercial
10               Casa de villa
11                     Terreno
12                     Cochera
13                        Loft
14  Tienda en Centro Comercial
15                      Chacra
16       Terreno em condominio
17                     Oficina
18                      Chalet
19                      Studio
20                       Hotel
21            Local industrial

#Creando estructuras de datos
##DataFrame

In [ ]:
data = [1, 2, 3, 4, 5]

In [ ]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#creacion de una serie con list comprenhension
index = ['Linea' + str(i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [ ]:
s = pd.Series(data = data, index = index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [ ]:
#creacion de una serie con diccionario
data = {'Linea'+ str(i) : i+1 for i in range(5)}
data

{'Linea0': 1, 'Linea1': 2, 'Linea2': 3, 'Linea3': 4, 'Linea4': 5}

In [ ]:
s = pd.Series(data)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [ ]:
s1 = s + 2
s1

Linea0    3
Linea1    4
Linea2    5
Linea3    6
Linea4    7
dtype: int64

In [ ]:
s2 = s1 + s
s2

Linea0     4
Linea1     6
Linea2     8
Linea3    10
Linea4    12
dtype: int64

In [ ]:
s2 = s1 * s

In [ ]:
s2

Linea0     3
Linea1     8
Linea2    15
Linea3    24
Linea4    35
dtype: int64

In [ ]:

datos = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(datos)
df

   A  B
X  1  2
Y  3  4

In [ ]:
datos = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(datos, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [ ]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [ ]:
datos = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(datos, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

#Concatenando DataFrames

In [ ]:
data = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
index = ['Linea' + str(i) for i in range(3)]
index

['Linea0', 'Linea1', 'Linea2']

In [ ]:
df1 = pd.DataFrame(data =data, index= index)
df1

        0  1  2
Linea0  1  2  3
Linea1  4  5  6
Linea2  7  8  9

In [ ]:
columns = ['Columna' + str(i) for i in range(3)]
columns

['Columna0', 'Columna1', 'Columna2']

In [ ]:
df1 = pd.DataFrame(data =data, index= index, columns = columns)
df1

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [ ]:
data = {'Columna0' : {'Linea0' : 1, 'Linea1' : 4, 'Linea2' : 7},
        'Columna1' : {'Linea0' : 2, 'Linea1' : 5, 'Linea2' : 8},
        'Columna2' : {'Linea0' : 3, 'Linea1' : 6, 'Linea2' : 9}} 
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [ ]:
df2 = pd.DataFrame(data)
df2

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [ ]:
data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
df3 = pd.DataFrame(data, index= index, columns = columns)
df3

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [ ]:
df1[df1 > 0] = 'A'
df1

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A

In [ ]:
df2[df2 > 0] = 'b'
df2

       Columna0 Columna1 Columna2
Linea0        b        b        b
Linea1        b        b        b
Linea2        b        b        b

In [ ]:
df3[df3 > 0] = 'C'
df3

       Columna0 Columna1 Columna2
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [ ]:
df4 = pd.concat([df1, df2, df3])
df4

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A
Linea0        b        b        b
Linea1        b        b        b
Linea2        b        b        b
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [ ]:
df5 = pd.concat([df1, df2, df3], axis = 1)
df5

,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2
Linea0,A,A,A,b,b,b,C,C,C
Linea1,A,A,A,b,b,b,C,C,C
Linea2,A,A,A,b,b,b,C,C,C